<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://www.w3schools.com/howto/img_avatar.png">
      </div>
    </div>

    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= current_user.username %></h2>
        <a class="edit-profile" href="<%= edit_user_path current_user %>">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name"><%= current_user.name %></h2>
      <%= link_to current_user.website, current_user.website, class: "website", target: "_blank" %>
    </div>
  </div>
</div>

<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div>

<div class="user-images">
  <div class="wrapper">
    <img src="https://i.picsum.photos/id/1010/5184/3456.jpg">
  </div>
  <div class="wrapper">
    <img src="https://i.picsum.photos/id/102/4320/3240.jpg">
  </div>
  <div class="wrapper">
    <img src="https://i.picsum.photos/id/1013/4256/2832.jpg">
  </div>
  <div class="wrapper">
    <img src="https://i.picsum.photos/id/101/2621/1747.jpg">
  </div>
  <div class="wrapper">
    <img src="https://i.picsum.photos/id/0/5616/3744.jpg">
  </div>
  <div class="wrapper">
    <img src="https://i.picsum.photos/id/1054/3079/1733.jpg">
  </div>
</div>
